@import '~xterm/dist/xterm.css';

html,
body {
  margin: 0px;
  font-family: 'monospace';
}

.pastepoint {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100px;
  height: 1.5em;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
}

.cline {
  background-color: black;
  color: lime;
}
